<!DOCTYPE html>
<html lang="en" ng-app="piApp.controllers">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W2ZZMFW');</script>
    <!-- End Google Tag Manager -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="../assets/js/piApp.js"></script>
    <script src="../assets/js/menu.js"></script>
    <script src="../assets/js/parents.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110577620-1"></script>
    <script>
      window.dataLayer = window.dataLayer || []

      function gtag () {dataLayer.push(arguments)}

      gtag('js', new Date())

      gtag('config', 'UA-110577620-1')
    </script>

    <!-- Title -->
    <title>Pi Innovation | 家長專區</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Pi Innovation Team has started promoting STEM and innovation education since 2012. We provide customized courses and workshops for schools,
    NGOs and government divisions. Our onsite education services covered robotics, coding, science experiments, design thinking, logical thinking and a lot more. Hoping to provide more STEM learning opportunities
    for our next generation, we also provided free school-based STEM project consultations for schools on their STEM development plans.">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/bootstrap.min.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/vendor/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="../assets/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="../assets/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="../assets/vendor/animate.css">
    <link rel="stylesheet" href="../assets/vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="../assets/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="../assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
    <link rel="stylesheet" href="../assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
    <link rel="stylesheet" href="../assets/vendor/typedjs/typed.css">
    <link rel="stylesheet" href="../assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="../assets/vendor/hamburgers/hamburgers.min.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="../assets/css/unify.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="../assets/css/custom.css">
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W2ZZMFW"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<main>
    <!-- Header -->
    <header id="js-header" class="u-header u-header--static">
        <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
            <nav class="js-mega-menu navbar navbar-toggleable-md">
                <div class="container">
                    <!-- Responsive Toggle Button -->
                    <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-right-0"
                            type="button"
                            aria-label="Toggle navigation"
                            aria-expanded="false"
                            aria-controls="navBar"
                            data-toggle="collapse"
                            data-target="#navBar">
                <span class="hamburger hamburger--slider">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </span>
                    </button>
                    <!-- End Responsive Toggle Button -->

                    <!-- Logo -->
                    <a href="../index.html" class="navbar-brand">
                        <img src="../assets/img/logo/logo.png" alt="Pi Innovation Logo">
                    </a>
                    <!-- End Logo -->

                    <!-- Navigation -->
                    <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg"
                         id="navBar" ng-controller="MenuController as menuItems">
                        <ul class="navbar-nav g-pos-rel g-font-weight-600 ml-auto">
                            <li class="nav-item g-mx-10--lg g-mx-15--xl" ng-repeat="item in menuItems.items" ng-class="{'hidden-sm-up': item.mobileOnly}">
                                <a ng-href="{{item.link}}" class="nav-link g-py-7 g-px-0" ng-class="getClassForItem(item.link)">{{item.eName}}</a>
                            </li>

                            <li class="nav-item g-mx-10--lg g-mx-15--xl">
                                <a ng-href="../tc/{{currentItem()}}"
                                   class="nav-link g-py-7 g-px-0 lang-select-link" ng-class="getClassForLang('tc')">中</a>
                                <span class="nav-link g-py-7 g-px-0 lang-select-link">/</span>
                                <a ng-href="../en/{{currentItem()}}"
                                   class="nav-link g-py-7 g-px-0 lang-select-link" ng-class="getClassForLang('en')">EN</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Navigation -->

                </div>
            </nav>
        </div>
    </header>
    <!-- End Header -->

    <!-- About Our Camps -->
    <section class="1g-bg-secondary g-py-30" ng-controller="ParentsController as parents">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center g-mb-0--lg">
                    <header class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                        <h1 class="h2 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600">
                            Summer Camps</h1>
                    </header>
                </div>
            </div>

            <div class="row" style="margin-bottom: 50px;" ng-repeat="course in parents.courses">
                <div class="col-lg-4 col-md-6 g-mb-30 g-mb-0--lg">
                    <article class="u-shadow-v1-5 g-line-height-2 g-transition-0_3">
                        <a href="app_camp.html">
                            <img class="img-fluid w-100 g-rounded-top-5"
                                 ng-src="../assets/banner/{{course.image}}">
                            <div class="g-bg-white g-pa-30 g-rounded-bottom-5">

                                <h2 class="h5 g-color-black g-font-weight-600 mb-4">
                                    {{course.eName}}
                                </h2>


                                <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-16 mb-0">
                                    <li class="list-inline-item mr-0">Course Materials</li>
                                </ul>

                                <ul class="list-inline g-font-size-16 mb-0">
                                    <li class="list-inline-item g-mb-10 card-small-text"
                                        style="padding-bottom: 5px">
                                        {{course.eMaterial}}
                                    </li>
                                </ul>

                                <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-16 mb-0">
                                    <li class="list-inline-item mr-0">Age</li>
                                </ul>

                                <ul class="list-inline g-font-size-16 mb-0">
                                    <li class="list-inline-item g-mb-10 card-small-text"
                                        style="padding-bottom: 5px">
                                        {{course.age}}
                                    </li>
                                </ul>

                                <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-16 mb-0">
                                    <li class="list-inline-item mr-0">Program Fee</li>
                                </ul>

                                <ul class="list-inline g-font-size-16 mb-0">
                                    <li class="list-inline-item g-mb-10 card-small-text"
                                        style="padding-bottom: 5px">
                                        {{course.efee}}
                                    </li>
                                </ul>

                                <ul class="list-inline g-font-size-16 mb-0">
                                    <a class="btn u-btn-primary g-rounded-50" ng-href="{{course.detailslink}}">
                                        Details
                                    </a>
                                </ul>
                            </div>
                        </a>

                        <div class="col-lg-4 col-md-6 g-pb-15 g-mb-0--lg hidden-sm-up" ng-repeat="class in course.classes">
                            <article class="u-shadow-v2 g-brd-around g-brd-gray-light-v4 g-line-height-2  g-transition-0_3">
                                <a href="#">
                                    <div class="g-bg-white g-pa-30 g-rounded-bottom-5">

                                        <h2 class="h5 g-color-black g-font-weight-600 mb-4">
                                            {{class.eIdName}}<br>({{class.id}})
                                        </h2>


                                        <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-16 mb-0">
                                            <li class="list-inline-item mr-0">Date/Time</li>
                                        </ul>

                                        <ul class="list-inline g-font-size-16 mb-0">
                                            <li class="list-inline-item g-mb-10 card-small-text"
                                                style="padding-bottom: 5px">
                                                {{class.eDate}}<br>{{class.time}}
                                            </li>
                                        </ul>

                                        <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-16 mb-0">
                                            <li class="list-inline-item mr-0">Location</li>
                                        </ul>

                                        <ul class="list-inline g-font-size-16 mb-0">
                                            <li class="list-inline-item g-mb-10 card-small-text"
                                                style="padding-bottom: 5px">
                                                {{class.eLocation}}
                                            </li>
                                        </ul>

                                        <ul class="list-inline g-font-size-16 mb-0">
                                            <a class="btn btn-block u-btn-primary g-rounded-50" ng-href="{{class.registerLink}}" target="_blank">
                                                <i class="fa fa-bolt g-mr-5"></i>Register Now
                                            </a>
                                        </ul>

                                    </div>
                                </a>

                            </article>
                        </div>

                    </article>
                </div>

                <div class="col-lg-8 col-md-6 g-mb-30 g-mb-0--lg hidden-sm-down">

                    <div class="shortcode-html">
                        <!--Basic Table-->
                        <div class="table-responsive">
                            <table class="table table-bordered u-table--v2">
                                <thead class="g-letter-spacing-1">
                                <tr>
                                    <th class="g-font-weight-300 g-color-black">Class</th>
                                    <th class="g-font-weight-300 g-color-black g-min-width-200">Date/Time</th>
                                    <th class="g-font-weight-300 g-color-black g-min-width-200">Location</th>
                                    <th class="g-font-weight-300 g-color-black">Registration</th>
                                </tr>
                                </thead>

                                <tbody>

                                <tr ng-repeat="class in course.classes">
                                    <td class="align-middle text-nowrap">
                                        <h4 class="h6 g-mb-2">{{class.id}}</h4>
                                    </td>
                                    <td class="align-middle">
                                        {{class.eDate}}<br>{{class.time}}
                                    </td>
                                    <td class="align-middle">
                                        <div class="d-flex">
                                            <i class="icon-location-pin g-font-size-18 g-color-gray-dark-v5 g-pos-rel g-top-5 g-mr-7"></i>
                                            <span>{{class.eLocation}}</span>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <a class="btn btn-block u-btn-primary g-rounded-50 g-py-5" ng-href="{{class.registerLink}}">
                                            <i class="fa fa-bolt g-mr-5"></i> Register Now
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--End Basic Table-->
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End About Our Camp -->

    <!-- Copyright Footer -->
    <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
                    <div class="d-lg-flex">
                        <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2018 ©
                            All Rights Reserved.
                        </small>
                    </div>
                </div>

                <div class="col-md-4 align-self-center">
                    <ul class="list-inline text-center text-md-right mb-0">
                        <li class="list-inline-item g-mx-10" data-toggle="tooltip"
                            data-placement="top" title="Facebook">
                            <a href="https://www.facebook.com/pi.innovation.3.14/" target="_blank"
                               class="g-color-white-opacity-0_5 g-color-white--hover">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Copyright Footer -->
</main>

<!-- JS Global Compulsory -->
<script src="../assets/vendor/jquery/jquery.min.js"></script>
<script src="../assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
<script src="../assets/vendor/tether.min.js"></script>
<script src="../assets/vendor/bootstrap/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script src="../assets/vendor/slick-carousel/slick/slick.js"></script>
<script src="../assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
<script src="../assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
<script src="../assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
<script src="../assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
<script src="../assets/vendor/fancybox/jquery.fancybox.min.js"></script>
<script src="../assets/vendor/typedjs/typed.min.js"></script>

<!-- JS Unify -->
<script src="../assets/js/hs.core.js"></script>
<script src="../assets/js/components/hs.header.js"></script>
<script src="../assets/js/helpers/hs.hamburgers.js"></script>
<script src="../assets/js/components/hs.tabs.js"></script>
<script src="../assets/js/components/text-animation/hs.text-slideshow.js"></script>
<script src="../assets/js/components/hs.go-to.js"></script>


<!-- JS Customization -->
<script src="../assets/js/custom.js"></script>

<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {

    // initialization of tabs
    $.HSCore.components.HSTabs.init('[role="tablist"]')

    // initialization of go to
    $.HSCore.components.HSGoTo.init('.js-go-to')

    // initialization of text animation (typing)
    $('.u-text-animation.u-text-animation--typing').typed({
      strings: [
        'an awesome template',
        'perfect template',
        'just like a boss'
      ],
      typeSpeed: 60,
      loop: true,
      backDelay: 1500
    })
  })

  $(window).on('load', function () {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#js-header'))
    $.HSCore.helpers.HSHamburgers.init('.hamburger')

    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 991
    })
  })

  $(window).on('resize', function () {
    setTimeout(function () {
      $.HSCore.components.HSTabs.init('[role="tablist"]')
    }, 200)
  })

</script>
</body>
</html>