/* Add here all your css styles (customizations) */

.g-pt-350 {
    padding-top: 25rem !important;
}

/*------------------------------------
  Highlight Color
------------------------------------*/
::-moz-selection {
    color: #fff;
    background-color: #2980B9;
}

::selection {
    color: #fff;
    background-color: #2980B9;
}

.g-bg-primary ::-moz-selection {
    color: #2980B9;
    background-color: #fff;
}

.g-bg-primary ::selection {
    color: #2980B9;
    background-color: #fff;
}

.g-bg-primary {
    background-color: #2980B9 !important;
}

.g-color-primary {
    color: #2980B9 !important;
}

.bold {
    font-weight: bold;
}

.img-fluid {
    width: 100%;
}

.quali-box {
    text-align: center;
}

.media-logo {
    height: 100%;
    width: auto;
    /*border: 1px solid black;*/
}

.center-align-media {
    display: table;
    margin: 0 auto;
}

.lang-select-link {
    display: inline-block;
}

a:focus, a:hover {
    color: #2980B9 !important
}

.card-small-text{
    font-weight: 400!important;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 1.6!important;
    color: #555!important;
    -webkit-font-smoothing: antialiased;
}