<!DOCTYPE html>
<html lang="zh" ng-app="piApp.controllers">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5TLZGXW');</script>
    <!-- End Google Tag Manager -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="../assets/js/piApp.js"></script>
    <script src="../assets/js/menu.js"></script>
    <script src="../assets/js/parents.js"></script>

    <!-- Title -->
    <title>Pi創新學院 | 家長專區</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Pi創新學院團隊致力於學界推動STEM及創新教育，為家長安排各類的STEM課程，讓更多的同學有機會接觸創新科技。家長及同學可以自由地選取不同的課程模組，創造獨一無二的學習路徑，或按照我們的建議學習路徑，循步漸進建立STEM的知識。課程時間、地點不合適？可以使用自訂課堂服務， 讓你決定日期、時間、地點、人數。學習STEM不再受固定時間表限制。">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/bootstrap.min.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/vendor/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="../assets/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="../assets/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="../assets/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="../assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="../assets/vendor/hamburgers/hamburgers.min.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="../assets/css/unify.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="../assets/css/custom.css">
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5TLZGXW"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<main>
    <!-- Header -->
    <header id="js-header" class="u-header u-header--static">
        <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
            <nav class="js-mega-menu navbar navbar-toggleable-md">
                <div class="container">
                    <!-- Responsive Toggle Button -->
                    <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-right-0"
                            type="button"
                            aria-label="Toggle navigation"
                            aria-expanded="false"
                            aria-controls="navBar"
                            data-toggle="collapse"
                            data-target="#navBar">
                <span class="hamburger hamburger--slider">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </span>
                    </button>
                    <!-- End Responsive Toggle Button -->

                    <!-- Logo -->
                    <a href="../index.html" class="navbar-brand">
                        <img src="../assets/img/logo/logo.png" alt="Pi Innovation Institute Logo">
                    </a>
                    <!-- End Logo -->

                    <!-- Navigation -->
                    <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg"
                         id="navBar" ng-controller="MenuController as menuItems">
                        <ul class="navbar-nav g-pos-rel g-font-weight-600 ml-auto">
                            <li class="nav-item g-mx-10--lg g-mx-15--xl" ng-repeat="item in menuItems.items" ng-class="{'hidden-sm-up': item.mobileOnly}">
                                <a ng-href="{{item.link}}" class="nav-link g-py-7 g-px-0" ng-class="getClassForItem(item.link)" target="{{item.openInBlank ? '_blank' : '_self'}}">{{item.cName}}</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Navigation -->

                </div>
            </nav>
        </div>
    </header>
    <!-- End Header -->

    <div class="container g-pt-50">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8">
                <h2 class="h1 g-color-black g-font-weight-600 mb-0">課程時間、地點不合適？<br>可以使用
                    <span class="d-inline-block g-brd-bottom g-brd-2 g-brd-primary g-color-primary">自訂課堂</span> 服務，
                    <span class="d-inline-block g-brd-bottom g-brd-2 g-brd-primary g-color-primary">讓你決定</span>日期、時間、地點、人數。學習STEM不再受固定時間表限制。
                </h2>
            </div>
        </div>
        <div class="row justify-content-center text-center g-pt-20">
            <div class="col-lg-8">
                <a class="btn u-btn-primary g-brd-2 g-font-weight-700 g-font-size-13 g-rounded-50 g-py-15 g-px-30" href="https://pi-innovation.typeform.com/to/AdPLdJ" target="_blank">立即查詢自訂課堂</a>
            </div>
        </div>

    </div>


    <!-- About Our Day Camps -->
    <div ng-controller="ParentsController as parents" ng-cloak>
        <section class="1g-bg-secondary g-py-30" ng-repeat="group in parents.courseGroups">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center g-mb-0--lg">
                        <header class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                            <h1 class="h2 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600">
                                {{group.cGroupName}}</h1>
                        </header>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 g-mb-20" ng-repeat="course in group.courses">
                        <article class="u-shadow-v1-5 g-line-height-2 g-transition-0_3">
                            <a ng-href="course_details.html?group={{group.groupId}}&course={{course.courseId}}">
                                <img class="img-fluid w-100 g-rounded-top-5"
                                     ng-src="../assets/banner/{{course.image}}"
                                     alt="Robotics Foundations Course">
                                <div class="g-bg-white g-pa-30 g-rounded-bottom-5">

                                    <h2 class="h5 g-color-black g-font-weight-600 mb-4">
                                        {{course.cName}}
                                    </h2>


                                    <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-16 mb-0">
                                        <li class="list-inline-item mr-0">課程教材</li>
                                    </ul>

                                    <ul class="list-inline g-font-size-16 mb-0">
                                        <li class="list-inline-item g-mb-10 card-small-text"
                                            style="padding-bottom: 5px">
                                            {{course.cMaterial}}
                                        </li>
                                    </ul>

                                    <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-16 mb-0">
                                        <li class="list-inline-item mr-0">適合年齡</li>
                                    </ul>

                                    <ul class="list-inline g-font-size-16 mb-0">
                                        <li class="list-inline-item g-mb-10 card-small-text"
                                            style="padding-bottom: 5px">
                                            {{course.age}}
                                        </li>
                                    </ul>

                                    <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-16 mb-0">
                                        <li class="list-inline-item mr-0">費用</li>
                                    </ul>

                                    <ul class="list-inline g-font-size-16 mb-0">
                                        <li class="list-inline-item g-mb-10 card-small-text"
                                            style="padding-bottom: 5px">
                                            {{course.fee}}
                                        </li>
                                    </ul>

                                    <ul class="list-inline g-font-size-16 mb-0">
                                        <a class="btn u-btn-primary g-rounded-50" ng-href="course_details.html?group={{group.groupId}}&course={{course.courseId}}">
                                            詳情及報名
                                        </a>
                                    </ul>

                                </div>
                            </a>

                        </article>
                    </div>

                </div>

            </div>
        </section>

    </div>

    <!-- End About Our Day Camps -->


    <!-- Copyright Footer -->
    <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
                    <div class="d-lg-flex">
                        <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2018 ©
                            All Rights Reserved.
                        </small>
                    </div>
                </div>

                <div class="col-md-4 align-self-center">
                    <ul class="list-inline text-center text-md-right mb-0">
                        <li class="list-inline-item g-mx-10" data-toggle="tooltip"
                            data-placement="top" title="Facebook">
                            <a href="https://www.facebook.com/pi.innovation.institute/" target="_blank"
                               class="g-color-white-opacity-0_5 g-color-white--hover">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item g-mx-10" data-toggle="tooltip"
                            data-placement="top" title="Medium Portfolio">
                            <a href="https://medium.com/pi-innovation" target="_blank"
                               class="g-color-white-opacity-0_5 g-color-white--hover">
                                <i class="fa fa-medium"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Copyright Footer -->
</main>

<!-- JS Global Compulsory -->
<script src="../assets/vendor/jquery/jquery.min.js"></script>
<script src="../assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
<script src="../assets/vendor/tether.min.js"></script>
<script src="../assets/vendor/bootstrap/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script src="../assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
<script src="../assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>

<!-- JS Unify -->
<script src="../assets/js/hs.core.js"></script>
<script src="../assets/js/components/hs.header.js"></script>
<script src="../assets/js/helpers/hs.hamburgers.js"></script>


<!-- JS Customization -->
<script src="../assets/js/custom.js"></script>

<!-- JS Plugins Init. -->
<script>

  $(window).on('load', function () {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#js-header'))
    $.HSCore.helpers.HSHamburgers.init('.hamburger')

    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 991
    })
  })

  $(window).on('resize', function () {
    setTimeout(function () {
      $.HSCore.components.HSTabs.init('[role="tablist"]')
    }, 200)
  })

</script>
</body>
</html>